[Unit]
Description=smarthome-events
After=network.target

[Service]
User=root
ExecStart=/home/paulchen/smarthome-events/startup.sh
Restart=on-failure
Environment="JAVA_OPTS=-Xmx256m"

[Install]
WantedBy=multi-user.target

