<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" name="example-config">
    <Properties>
        <Property name="LOG_DIR">logs</Property>
        <Property name="PATTERN">%-5level %d [%t] %c:%M(%L): %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

	<File name="fileWriter" fileName="log/log">
            <PatternLayout pattern="${PATTERN}"/>
	</File>
	<!--
        <RollingFile name="fileWriter"
                     fileName="log/log"
                     filePattern="log/log.%d{yyyy-MM-dd-hh-mm}.gz">
            <PatternLayout pattern="${PATTERN}"/>
            <TimeBasedTriggeringPolicy/>
	</RollingFile>
	-->
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="fileWriter"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
